.primary-nav{
  height: 0px;
  padding-top: 50px;
  transition: all .5s ease-out;

  @mixin atMedium{
    height: auto;
    padding-top: 0;
  }

  &--expanded{
    height: 180px;

    @mixin atMedium{
      height: auto;
    }
  }
  /* &--mobile{
    display: block;
  } */

  @mixin clearfix;

  &--pull-right{

    @mixin atMedium{
      float: right;
    }
  }

  ul{
    padding: 0;
    margin: 0;
  }

  li{
    list-style: none;
    padding-right: 30px;

    @mixin atMedium{
      display: inline-block;
    }
  }

  a{
    display: inline-block;
    padding-bottom: .5rem;
    padding-top: .8rem;
    border-bottom: solid 1px transparent;
    transition: all .3s ease-out;
    font-weight: 500;

    &:hover{
      border-bottom: solid 1px $mainYellow;
    }
  }
}
