.site-header{
  position: relative;
  padding: 3rem 0;
  margin-bottom: 1rem;

  @mixin atMedium{
    margin-bottom: 0;
  }

  &__title{
    display: inline-block;
    font-size: 2.25rem;
    font-weight: 300;
    color: #333;
    position: absolute;

    span{
      font-weight: 500;
    }
  }

  &__menu-content{
    display: none;
    width: 100%;

    @mixin atMedium{
      display: inline-block;
    }
  }
}
